{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">{% trans "Sign In" %}</h1>

          <p class="card-text text-center">
            {% blocktrans %}If you don't have an account, then please
            <a href="{{ signup_url }}" class="text-decoration-none">SIGN UP</a> first.{% endblocktrans %}
          </p>

          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {% trans "Invalid username or password. Please try again." %}
          </div>
          {% endif %}

          <form class="form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <!-- Apply the custom style for the Sign In button -->
            <button class="btn btn-custom w-50 mb-2" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
