{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<div class="container text-center p-5">
    <h1 class="display-4">{% trans "Create an Account" %}</h1>
    <p>{% blocktrans %}Already have an account?{% endblocktrans %} <a href="{% url 'account_login' %}" class="text-decoration-none">{% trans "Sign In" %}</a> {% blocktrans %}here.{% endblocktrans %}</p>
    <form class="form p-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- Apply the custom style for the Sign Up button -->
        <button class="btn btn-custom w-100 mb-2" type="submit">{% trans "Sign Up" %}</button>
    </form>
</div>
{% endblock %}
