{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4 mt-3">
                <div class="card-body">
                    <h3>Edit Comment:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <button type="submit" class="btn btn-custom">Save Changes</button>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}