{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <!-- Category Navigation -->
                <div class="col-12 mb-3">
                    <nav class="nav">
                        <a class="nav-link" href="{% url 'home' %}">All</a>
                        {% for cat in categories %}
                        <a class="nav-link" href="{% url 'category' category_slug=cat.slug %}">{{ cat.name }}</a>
                        {% endfor %}
                    </nav>
                </div>
                <!-- Posts List -->
                {% for post in page_obj %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr>
                            <p class="card-category text-muted h6">{{ post.author|upper }} | {{ post.category.name|upper }}</p>
                            <p class="card-text text-muted h6">{{ post.created_on }}
                                <i class="far fa-thumbs-up"></i> {{ post.number_of_likes }}
                                <i class="far fa-comment"></i> {{ post.number_of_comments }}
                                <i class="far fa-share"></i> {{ post.number_of_shares }}
                                <i class="far fa-save"></i> {{ post.number_of_saves }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; Prev</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
