{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <h1>My Bookmarks</h1>
    <ul>
        {% for post in user_bookmarks %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-custom">Read More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>You have not bookmarked any posts yet.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}